.root {
   -AccentColorMain: #262626;
   -AccentColorSub: #262626;
   -BackgroundColor: #262626;
   -BackgroundColorSub: #1c1c1c;
   -ShadowColor: #000000;
}

.navbar {
   -fx-background-color: transparent;
}

.home-button {
   -fx-background-color: #1c1c1c, #262626, #1c1c1c;
   -fx-background-radius: 15;
   -fx-border-color: #262626, #262626, #262626;
   -fx-border-radius: 5, 5, 4;
   -fx-padding:.333333em .333333em .333333em .333333em;
}

.theme-box {
   -fx-background-color: #424242;
   -fx-background-radius: 10;
   -fx-border-color: #262626, #262626, #262626;
   -fx-border-radius: 5, 5, 4;
}
