.root {
   -AccentColorMain: #262626;
   -AccentColorSub: #262626;
   -BackgroundColor: #262626;
   -BackgroundColorSub: #262626;
   -ShadowColor: #262626;
}

.native-navbar {
   -fx-background-color: transparent;
}

.home-button {
   -fx-background-color: 
}
