.root {
   -AccentColorMain: #262626;
   -AccentColorSub: #262626;
   -BackgroundColor: #262626;
   -BackgroundColorSub: #1c1c1c;
   -ShadowColor: #000000;
}

.native-navbar {
   -fx-background-color: transparent;
}

.home-button {
   -fx-background-color: -BackgroundColor;
}
